{
  "env_variables": {
    "TEST_USER": "xxx",
    "API_TOKEN": "xxx",
    "VERIFICATION_TOKEN": "xxx",
    "FIRE_API_KEY": "xxx",
    "FIRE_AUTH_DOMAIN": "xxx",
    "FIRE_DB_URL": "xxx",
    "FIRE_STORAGE_BUCKET": "xxx",
    "FIRE_SENDER_ID": "xxx",
    "USER_EMAIL": "xxx",
    "USER_PASS": "xxx",
    "BOT_NAME": "xxx",
    "BOT_ICON_URL": "xxx"
  }
}
